<!-- Launch file for Robotiq 2f-85 Hand startup -->
<launch>
    <arg name="sim" default="false"/>
    <arg name="comport" default="/dev/ttyUSB0" unless="$(arg sim)"/> 
    <arg name="baud" default="115200" unless="$(arg sim)"/> 
    
    <!-- Launch action server for gripper -->
    <include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">
        <arg name="comport" value="$(arg comport)" unless="$(arg sim)"/>
        <arg name="baud" value="$(arg baud)" unless="$(arg sim)"/>
        <arg name="stroke" value="0.085"/>
        <arg name="joint_name" value="finger_joint"/>
        <arg name="verbose" value="true"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>
</launch>
